*,
*:after,
*:before {
  @include box-sizing(border-box);
}
/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
	background: $primary_colour;
  min-height: 100%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.hidden {
  display: none;
}
.screenreader {
  position: absolute;
  text-indent: -999em;
}
h1 {
  text-align: center;
  margin-top: 0;
  padding: 20px;
  text-transform: uppercase;
  color: $secondary_colour;
}
h2 {
  text-transform: uppercase;
}
.frame {
  position: relative;
  height: 560px;
  background: $secondary_colour;
  overflow: hidden;
}
.center-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}
.results {
  text-transform: uppercase;
  margin:0;
  padding: 0;
  width: 100%;
  top:60px;
  position: absolute;
  left: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    min-width: 70px;
    margin: 2px;
    color: $primary_colour;
    span {
      //min-width: 10px;
    }
  }
}
/* ============================================ *
   * Hand shake css animation
* ============================================ */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes right-bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43%, 70%, 90%   {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(30px, -30px, 0) ;
    transform: translate3d(30px, -30px, 0) rotate(30deg);
  }
}
@-webkit-keyframes left-bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43%, 70%, 90%   {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(-30px, -30px, 0) ;
    transform: translate3d(-30px, -30px, 0) rotate(-30deg);
  }
}

@keyframes right-bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43%, 70%, 90%   {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(30px, -30px, 0) ;
    transform: translate3d(30px, -30px, 0) rotate(30deg);
  }
}
@keyframes left-bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43%, 70%, 90%   {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(-30px, -30px, 0) ;
    transform: translate3d(-30px, -30px, 0) rotate(-30deg);
  }
}

.bounce {
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
/* ============================================ *
   * Hands
* ============================================ */

#left-hand,
#right-hand {
  background: url('../images/hands-sprite.png') transparent;
  width: 312px;
  position: absolute;
  margin-top: -67px;
  height: 135px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#left-hand {
  left: 0;
  top: 30%;
  background-position: -312px -135px;
  &.paper {background-position: 0 -135px; }
  &.scissors {background-position: 0 0; }
  &.spock {background-image: url('../images/spock.jpg'); }
  &.lizard {background-image: url('../images/lizard.jpg'); }
  &.bounce { 
    -webkit-animation-name: left-bounce;
    animation-name: left-bounce;
  }
}
#right-hand {
  right: 0;
  top: 50%;
  background-position: -312px 0;
  &.paper {background-position: -625px 0; }
  &.scissors {background-position: -624px 135px; }
  &.spock {background-image: url('../images/spock.jpg'); }
  &.lizard {background-image: url('../images/lizard.jpg'); }
  &.bounce {
    -webkit-animation-name: right-bounce;
    animation-name: right-bounce;
  }
}
/* ============================================ *
   * Buttons
* ============================================ */
button {
  text-transform: uppercase;
  display: inline-block;
  background: $primary_colour;
  padding: 10px 15px;
  border: none;
  color: #000;
  margin: 0;
  position: relative;
  &:hover,
  &:focus {
    background: $primary_colour_alternative;
  }
  &.selected {
    background: $secondary_colour;
  }
}
.actions {
  position: absolute;
  bottom:10px;
  text-align: center;
  width: 100%;
  @include transition(bottom 0.2s ease);
  &.disabled {
    bottom:-100%;
  }
  button{
    width: 100%;
    position: static;
    margin-bottom: 5px;
  }
}
.reset-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.auto-play-icon {
  position: absolute;
  top: 10px;
  left: 50%;
  @include transform (translateX(-50%));
}
/* ============================================ *
   * Setting
* ============================================ */
.settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.settings {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  background: rgba(255,255,255,0.85);
  opacity: 0;
  @include transform (translateY(100%));
}
.settings.active{
  opacity: 1;
   z-index: 1;
  transition: all 0.4s ease;
  @include transform (translateY(0));
  @include transition (all 0.4s ease);
}
.setting-pane {
  display: none;
}
.inputfield {
  margin-top: 10px;
  overflow: hidden;
  label {
    background: $primary_colour;
    padding: 10px;
    width: 100%;
    display: block;
    height: 100%;
    cursor: pointer;
  }
  input {
    position: absolute;
    top:0;
    left: -100%;
    &[type="radio"]:checked + label span,
    &[type="checkbox"]:checked+label span{
      border: 6px solid $secondary_colour;
      box-shadow:none;
    }
    &[type="radio"]:not(:checked) + label span,
    &[type="checkbox"]:not(:checked)+label span{
      border: 1px solid $secondary_colour;
      box-shadow: inset 2px 2px 0px $secondary_colour_alternative;
    }
  }
  span {
    @include transition(all 0.1s ease-in);
    display: inline-block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: $primary_colour;
    width: 20px;
    height: 20px;
    margin-right:10px;
    vertical-align: middle;
  }
}
.message-text {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  background: $primary_colour;
}
@media only screen and (min-width: 640px) {
  button {
    position: absolute;
  }
  h1 {
    padding: 0;
  }
  .auto-play-icon {
    position: absolute;
    bottom: 10px;
    top: initial;
    left: 10px;
    @include transform(translateX(0));
  }
  .actions button{
    width: auto;
    margin-bottom: 0;
  }
  .results {
    top: 10px;
  }
  .reset-icon {
    top: 10px;
  }
  #left-hand,
  #right-hand {
    top: 50%
  }
  .center-wrap {
    width: 690px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* ============================================ *
   * Retina Support
* ============================================ */
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	#left-hand,
	#right-hand {
		background-image: url(../images/hands-sprite_2x.png);
    @include background-size(936px 270px);
    &.spock,
    &.lizard {background-size: 100%;}
  }
}